node_modules/
/vendor/
/assets/js/vendor/

.DS_Store
Thumbs.db

*.log
debug.txt
errors.txt
log.txt

google-api*.json
*service-account*.json
*credentials*.json

*.zip
*.rar
*.7z
*.tmp
*.bak

.idea/
.vscode/

*_old.php
*_rabochi.php
functions1.php
functions2.php
functions3.php
functions4.php

/inc/google-api-php-client-2.2.3/
/inc/google-api.json
/inc/log.txt