
.icon-googleplay:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-right-open-1:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-down-circle:before { content: '\e804'; } /* '' */
.icon-left-circle:before { content: '\e805'; } /* '' */